.ask {
  text-align: center;
  background: $color_accent;
  overflow: hidden;
  box-shadow: $default_shadow_inset;
  .row-ask {
    position: relative;
    min-height: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    position: absolute;
    transform: rotate(-45deg);
    height: 130px;

    &--left {
      left: -80px;
      top: -48px;
    }
    &--right {
      height: 140px;
      top: 35px;
      right: -80px;
    }
  }
  &-description {
    margin-bottom: 10px;
    &__title {
      @include fs('h2');
      color: $color_white;
      &::after {
        display: none;
      }
    }
  }
  &-cta {
    display: flex;
    .btn {
      @include fs('btn-title');
      @include transition();
      padding: 12px 43px;
      border-radius: $little_radius;
      color: $color_accent;
      background-color: $color_white;
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
@include breakpoint(550px) {
  .ask {
    &__img {
      &--left {
        left: -50px;
        top: -35px;
      }
      &--right {
        top: 32px;
        right: -53px;
      }
    }
  }
}
@include breakpoint($tablet) {
  .ask {
    &-cta {
      .btn {
        margin-top: 6px;
      }
    }
  }
}
@include breakpoint($desktop) {
  .ask {
    .row-ask {
      flex-direction: row;
      justify-content: space-between;
      max-width: 900px;
      margin: 0 auto;
    }
    &-description {
      margin-bottom: 0;
    }
    &-cta {
      .btn {
        margin-top: 0;
      }
    }
    &__img {
      &--left {
        left: -190px;
        top: 20px;
        height: 150px;
      }
      &--right {
        height: 175px;
        top: -32px;
        right: -196px;
      }
    }
  }
}
@include breakpoint($large) {
  .ask {
    &__img {
      &--left {
        left: -240px;
        height: 170px;
        top: 10px;
      }
      &--right {
        height: 192px;
        top: -40px;
        right: -270px;
      }
    }
  }
}
