.banner {
  margin-top: 60px;
  &-container {
    text-align: center;
    position: relative;
    padding: 0;
  }
  .owl-item {
    height: 100%;
  }
  &__item {
    @include bg();
    // height: 60vh;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 $mobile_offset;
    box-sizing: border-box;
    h2 {
      @include fs('banners-title');
      padding-bottom: 10px;
    }
    .btn {
      @include fs('btn-title');
      @include btn();
    }
  }
}
