.cookie {
  @include transition();
  @include fs('cookie');
  background: $color_accent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -240px;
  margin: 0 auto;
  align-items: center;
  border-radius: $little_radius;
  z-index: 30;
  &__text {
    margin-bottom: 5px;
  }
  &__btn {
    @include fs('btn-title');
    @include transition();
    padding: 10px 40px;
    margin-top: 4px;
    border-radius: $little_radius;
    color: $color_accent;
    background-color: $color_white;
    &:hover {
      transform: translateY(-2px);
    }
  }
  &.cookie--active {
    bottom: 15px;
  }
}
@include breakpoint($tablet) {
  .cookie {
    flex-direction: row;
    text-align: left;
    max-width: 600px;
    padding: 12px 20px;
  }
}
@include breakpoint($desktop) {
  .cookie {
    max-width: 900px;
  }
}
