.footer {
  box-shadow: $default_shadow_inset;
  background-color: $color_grey;
  padding-bottom: 30px;
  text-align: center;
  h2 {
    @include fs('h2');
  }
  .info {
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    &__block {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__address {
      margin-bottom: 3px;
      display: block;
      padding-left: 17px;
      text-align: right;
      max-width: 135px;
      &::after {
        width: 15px;
        height: 15px;
        left: 0;
      }
    }
    &__tel {
      a {
        font-size: 14px;
        width: fit-content;
        padding-left: 20px;
        &::after {
          width: 15px;
          height: 15px;
          left: 0;
          top: 3px;
        }
      }
    }
  }
  .copyright {
    @include fs('copyright');
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid $color_grey2;
    a {
      border-bottom: 1px solid;
    }
  }
  .form {
    &__input {
      height: 48px;
      max-width: 590px;
    }
    textarea {
      max-width: 590px;
    }
  }
}
@include breakpoint($tablet) {
  .footer {
    .info {
      font-size: 15px;
      padding-bottom: 23px;
      max-width: 500px;
      margin: 0 auto;
      &__address {
        max-width: 140px;
      }
      &__tel {
        a {
          font-size: 15px;
        }
      }
    }
    .copyright {
      padding-top: 25px;
    }
  }
}
@include breakpoint($tablet_medium) {
  .footer {
    .info {
      font-size: 16px;
      &__address {
        max-width: 150px;
      }
      &__tel {
        a {
          font-size: 16px;
        }
      }
    }
  }
}
@include breakpoint($desktop) {
  .footer {
    .info {
      font-size: 18px;
      &__address {
        max-width: 165px;
      }
      &__tel {
        a {
          font-size: 18px;
        }
      }
    }
  }
}
