.header {
  display: none;
  .row-header {
    // @media (max-width: 778px) {
    //   padding-top: 20px;
    //   justify-content: center;
    // }
  }
}
.logo {
  display: flex;
  align-items: center;
  height: 100%;
  &__img {
    max-width: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .descriptor {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    strong {
      @include fs('logo-descr');
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: $default_shadow;
  z-index: 10;
  .row-nav {
    height: 60px;
  }
  // &__logo {
  //   max-width: 55px;
  //   -o-object-fit: cover;
  //   object-fit: cover;
  //   background-position: center;
  //   background-repeat: no-repeat;
  // }
  // .burger {
  //   display: none;
  //   // @media (max-width: 745px) {
  //   //   display: block;
  //   //   text-align: right;
  //   // }
  //   &__img {
  //     max-width: 25px;
  //   }
  // }
  &-block {
    .nav-list {
      margin-bottom: 0;
      display: flex;
      &__item {
        list-style: none;
        margin-right: 30px;
      }
      &__link {
        position: relative;
        color: $color_white;
        font-weight: 500;
        // font-size: calc((100vw - 320px) / (1400 - 320) * (18 - 13) + 13px);
        text-decoration: none;
        // @media (max-width: 1500px) {
        //   font-size: 1.6vw;
        // }
        &:before {
          content: '';
          position: absolute;
          bottom: -7px;
          width: 0;
          height: 3px;
          right: 0;
          background-color: $color_white;
          transition: 0.3s;
        }
        &:hover:before {
          width: 100%;
          left: 0;
        }
      }
    }
    &-right {
      .nav-list {
        display: block;
        text-align: right;
        &__item {
          margin-right: 0px;
        }
      }
    }
  }
  // &--fixed {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 20;
  //   -webkit-animation-name: shownav;
  //   animation-name: shownav;
  //   -webkit-animation-duration: 0.5s;
  //   animation-duration: 0.5s;
  // }
}
