.header {
  display: none;
}
.nav {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: $default_shadow;
  z-index: 10;
  .row-nav {
    height: 60px;
  }
  &-block {
    display: none;
  }
}
.logo {
  display: flex;
  align-items: center;
  height: 100%;
  &__img {
    max-width: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .descriptor {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    strong {
      @include fs('logo-descr');
    }
  }
}

@include breakpoint($tablet) {
  .header {
    display: block;
    .row-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      .info {
        &-location {
          display: flex;
        }
        &__address {
          margin-left: 34px;
        }
        &__tel {
          margin-left: 34px;
        }
      }
    }
  }
  .nav {
    position: relative;
    background-color: $color_accent;
    .logo {
      display: none;
    }
    &-block {
      display: flex;
      .nav-list {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        width: fit-content;
        &__item {
          list-style: none;
          margin-left: 0;
          &:not(:last-child) {
            margin-right: 12px;
          }
        }
        &__link {
          @include fs('nav-item');
          position: relative;
          &:before {
            content: '';
            position: absolute;
            bottom: -7px;
            width: 0;
            height: 2px;
            right: 0;
            background-color: $color_white;
            transition: 0.3s;
          }
          &:hover:before {
            width: 100%;
            left: 0;
          }
        }
        &:nth-child(2) {
          margin-left: auto;
        }
      }
      &-right {
        .nav-list {
          display: block;
          text-align: right;
          &__item {
            margin-right: 0px;
          }
        }
      }
    }
    &.nav--fixed {
      position: fixed;
      top: 0;
      left: 0;
      animation: shownav 0.5s;
      box-shadow: 0 -16px 18px 2px $color_black;
      z-index: 20;
    }
  }
}

@include breakpoint($tablet_medium) {
  .header {
    .row-header {
      padding: 18px 0;
      .info {
        &__address {
          margin-left: 39px;
        }
        &__tel {
          margin-left: 39px;
          a {
            &::after {
              top: 2px;
            }
          }
        }
      }
    }
  }
  .nav {
    &-block {
      .nav-list {
        &__item {
          &:not(:last-child) {
            margin-right: 18px;
          }
        }
      }
    }
  }
}
@include breakpoint($desktop) {
  .header {
    .row-header {
      .info {
        &__address {
          margin-left: 42px;
        }
        &__tel {
          margin-left: 42px;
        }
      }
    }
  }
}
