.info {
  @include fs('info');
  position: relative;
  display: flex;
  &-mail {
    &__link {
      i {
        position: relative;
        &::after {
          @include bg();
          content: '';
          position: absolute;
          left: -25px;
          top: 0px;
          background-image: url(../img/email.svg);
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  &__address {
    i {
      position: relative;
      &::after {
        @include bg();
        content: '';
        position: absolute;
        left: -24px;
        top: 0px;
        background-image: url(../img/location.svg);
        width: 20px;
        height: 20px;
      }
    }
  }
  &__tel {
    a {
      position: relative;
      display: block;
      &::after {
        @include bg();
        content: '';
        position: absolute;
        left: -24px;
        top: 0px;
        background-image: url(../img/phone.svg);
        width: 19px;
        height: 19px;
      }
    }
  }
}
