.partners {
  background: $color_accent;
  box-shadow: $default_shadow_inset;
  padding-bottom: 30px;
  h2 {
    @include fs('h2');
    padding-left: $mobile_offset;
    padding-right: $mobile_offset;
    color: $color_white;
  }
  .partner {
    background: $color_white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: $little_radius;
    padding: 5px;
    &__img {
      width: 80%;
      object-fit: contain;
    }
  }
  &.slider {
    .navigation {
      .swiper-wrapper {
        padding-bottom: 20px;
      }
    }
  }
}
