////PARTNERS///////////////////////////////////////////
.partners {
  background: $mars;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.07);
  h2 {
    text-align: center;
    color: $white;
    padding: 65px 0 40px;
    position: relative;
    @media (max-width: 680px) {
      font-size: 25px;
      padding: 25px 0 20px;
    }
    @media (max-width: 390px) {
      font-size: 22px;
    }
  }
  h2::after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 95px;
    height: 3px;
    background-color: $white;
    @media (max-width: 680px) {
      bottom: 13px;
    }
  }
  .partner {
    background: $white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 3px 4px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    @media (max-width: 420px) {
      height: 80%;
    }
    &__img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      padding: 0 10px;
    }
  }
  .owl-stage-outer {
    @media (max-width: 420px) {
      height: 170px;
    }
  }
  .owl-item {
    width: 192px;
    height: 145px;
    margin-bottom: 40px;
  }
  .owl-dots {
    display: none;
  }
}
