.services {
  box-shadow: $default_shadow_inset;
  h2 {
    @include fs('h2');
  }
  .service {
    border-radius: $medium_radius;
    border: 1px solid $color_grey2;
    border-bottom: 3px solid $color_accent;
    box-shadow: $default_shadow_card;
    text-align: center;
    padding: $mobile_offset;
    margin-bottom: 20px;
    transition: 0.3s;
    height: 85%;
    &__img {
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 60px;
      margin-bottom: 5px;
    }
    &-description__title {
      @include fs('item-title');
      margin-bottom: 5px;
    }
    &-description__text {
      @include fs('item');
    }
  }
}
@include breakpoint($tablet) {
  .services {
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .service {
      margin-bottom: 0;
      padding-bottom: 17px;
      &-wrapper {
        width: calc(50% - 12px);
        &:nth-child(3),
        &:nth-child(4) {
          margin: 27px 0 30px;
        }
      }
    }
  }
}
@include breakpoint($desktop) {
  .services {
    .service {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__img {
        margin: 0;
        width: 86px;
        padding-right: 27px;
        padding-left: 15px;
      }
      &-description {
        margin-bottom: 0;
        text-align: left;
      }
      &-wrapper {
        width: calc(50% - 12px);
        &:nth-child(3),
        &:nth-child(4) {
          margin: 40px 0 52px;
        }
      }
    }
  }
}
