.certificates {
  box-shadow: $default_shadow_inset;
  background-color: $color_grey;
  padding-bottom: 65px;
  h2 {
    @include fs('h2');
    padding-left: $mobile_offset;
    padding-right: $mobile_offset;
  }
  .certificate {
    &__img {
      @include bg();
      @include padding-hack(148%);
      width: 100%;
      border-radius: $little_radius;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
      }
    }
    &:nth-child(2) {
      .certificate__img {
        @include padding-hack(75%);
      }
    }
  }
  &.slider {
    .pagination {
      .swiper-wrapper {
        align-items: center;
      }
      .swiper-pagination {
        margin-bottom: 35px;
      }
    }
  }
}
