.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  .swiper-container {
    .swiper-wrapper {
      display: flex;
      .swiper-slide {
        flex-shrink: 0;
        transition-property: transform;
      }
    }
  }
  // &-pagination {
  //   display: none;
  // }
  .pagination {
    .swiper-pagination {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70px;
      height: 30px;
      margin: 0 auto 30px;
      &-bullet {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color_accent;
        opacity: 0.6;
        transition: 0.2s;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        &-active {
          opacity: 1;
          width: 18px;
          height: 18px;
        }
      }
    }
    // .owl-carousel {
    //   .owl-stage-outer {
    //     // @media (max-width: 420px) {
    //     //   height: 370px;
    //     // }
    //   }
    //   .owl-nav {
    //     button {
    //       position: absolute;
    //       top: 40%;
    //       transform: translate(0, -50%);
    //       outline: none;
    //     }
    //     button.owl-prev {
    //       left: -50px;
    //       span {
    //         padding: 0 10px 0 10px;
    //       }
    //     }
    //     button.owl-next {
    //       right: -50px;
    //       span {
    //         padding: 0 10px 0 10px;
    //       }
    //     }
    //     span {
    //       font-size: 22px;
    //       line-height: 0;
    //       color: $mars;
    //       background: $white;
    //       border: 1px solid $mars;
    //       border-radius: 50%;
    //       box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    //       transition: 0.3s;
    //       &:hover {
    //         color: $white;
    //         background: $mars;
    //         border: 1px solid $white;
    //       }
    //     }
    //   }
    // }
  }
  //   .swiper-scrollbar {
  //     background-color: $color_grey3;
  //     &-drag {
  //       height: 4px;
  //       background-color: $color_accent;
  //       cursor: grabbing;
  //     }
  //   }

  //   @include breakpoint($tablet) {
  //     &-pagination {
  //       display: none;
  //       position: absolute;
  //       display: flex;
  //       justify-content: space-between;
  //       top: 0;
  //       left: 0;
  //       right: 0;
  //       margin: 0 auto;
  //       width: 70%;
  //       .arrow {
  //         transition: 0.3s;
  //         position: absolute;
  //         display: flex;
  //         top: 0;
  //         justify-content: center;
  //         align-items: center;
  //         width: 22%;
  //         height: 318px;
  //         border-radius: 50%;
  //         cursor: pointer;
  //         outline: none;
  //         z-index: 40;
  //         opacity: 0.04;
  //         &-prev {
  //           @include bg(65%, 'center left');
  //           background-image: url(../../img/arrow.svg);
  //           left: -22%;
  //         }
  //         &-next {
  //           @include bg(65%, 'center right');
  //           background-image: url(../../img/arrow_reverse.svg);
  //           right: -22%;
  //         }
  //         &:hover,
  //         &:focus,
  //         &:active {
  //           opacity: 0.08;
  //         }
  //       }
  //     }
  //   }
}
