.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  .swiper-container {
    .swiper-wrapper {
      display: flex;
      .swiper-slide {
        flex-shrink: 0;
        transition-property: transform;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
      }
    }
  }
  .pagination {
    .swiper-pagination {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fit-content;
      height: 30px;
      margin: 0 auto 30px;
      &-bullet {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color_accent;
        opacity: 0.6;
        transition: 0.2s;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 12px;
        }
        &-active {
          opacity: 1;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  .slider-navigation {
    position: relative;
    display: flex;
    justify-content: flex-end;
    .arrow {
      @include transition();
      @include bg();
      background-color: $color_accent;
      border: 1px solid $color_accent;
      border-radius: 50%;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:not(.swiper-button-disabled) {
        &:hover,
        &:focus,
        &:active {
          opacity: 0.8;
        }
      }
      &.swiper-button-disabled {
        background-color: $color_grey3;
        border-color: $color_grey3;
      }
    }
    .arrow-prev {
      background-image: url(../img/icons/arrow.svg);
      transform: rotate(270deg);
      margin-right: 8px;
    }
    .arrow-next {
      background-image: url(../img/icons/arrow.svg);
      transform: rotate(90deg);
    }
    &.line {
      &::after {
        content: '';
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 63px);
        height: 1px;
        border-bottom: 1px dashed $color_accent;
      }
    }
    &.navigation--accent {
      .arrow {
        background-color: $color_white;
        border-color: $color_white;
        &:not(.swiper-button-disabled) {
          &:hover,
          &:focus,
          &:active {
            opacity: 0.7;
          }
        }
        &.swiper-button-disabled {
          background-color: $color_grey2;
          border-color: $color_grey2;
        }
      }
      .arrow-prev {
        background-image: url(../img/icons/arrow_accent.svg);
      }
      .arrow-next {
        background-image: url(../img/icons/arrow_accent.svg);
      }
      &.line {
        &::after {
          border-bottom: 1px dashed $color_white;
        }
      }
    }
  }
}
