//Breakpoints
$mobile: 320px;
$middle-mobile: 510px;
$tablet: 720px;
$tablet_medium: 1020px;
$desktop: 1200px;
$large: 1560px;

//Colors
$color_main: #f8f8f8;
$color_accent: #44d4e2;
$color_accent_light: #9ae3e9;
$color_white: #fff;
$color_grey: #FAFBFC;
$color_grey2: #e6e6e6;
$color_grey3: #e5e5e5;
$color_black: #000;
$textblue: #303030;
$textgray: #7C8595;


/////////FONTS

// Logo descriptor
$font_logo_descr_mobile: 22px;
$font_logo_descr_tablet: 22px;

// Banners title
$font_banners_title_mobile: 22px;
$font_banners_title_tablet: 27px;
$font_banners_title_tablet_m: 29px;

// Btn title
$font_btn_title_mobile: 17px;
$font_btn_title_tablet: 20px;

// Nav title
$font_nav_title_mobile: 18px;
$font_nav_title_tablet: 19px;
$font_nav_title_tablet_m: 20px;

// Info item-title
$font_info_item_title_mobile: 18px;
$font_info_item_title_tablet: 20px;

// Info item
$font_info_item_mobile: 14px;
$font_info_item_tablet: 16px;

// Consent
$font_consent_mobile: 12px;
$font_consent_tablet: 14px;

// copyright
$font_copyright_mobile: 14px;
$font_copyright_tablet: 17px;

// cookie
$font_cookie_mobile: 14px;
$font_cookie_tablet: 16px;

// Info
$font_info_mobile: 16px;
$font_info_tablet: 15px;
$font_info_tablet_m: 16px;
$font_info_desktop: 17px;

// h2
$font_h2_mobile: 22px;
$font_h2_tablet: 27px;
$font_h2_desktop: 32px;


//Radius
$little_radius: 4px;
$medium_radius: 6px;
$big_radius: 12px;
$circle_radius: 50%;

//Offsets
$mobile_offset: 12px;
$desktop_offset: 24px;

//Shadows
$default_shadow: 0 -8px 20px 2px $color_grey2;
$default_shadow_card: 0 4px 6px 1px $color_grey2;
$default_shadow_inset: inset 0px 1px 4px $color_grey2;

//Other
$max_container: 1400px;
