//Breakpoints
$mobile: 320px;
$middle-mobile: 510px;
$tablet: 720px;
$desktop: 1200px;
$large: 1560px;

//Colors
$color_main: #f8f8f8;
$color_accent: #44d4e2;
$color_accent_light: #9ae3e9;
$color_white: #fff;
$color_grey: #fafafa;
$color_grey2: #e6e6e6;
$color_grey3: #e5e5e5;
$color_orange_light: #fa700b;
$color_orange_dark: #f83e11;
$color_purple: #551a8b;
$color_black: #000;
$color_black2: #353535;

$mars: #44d4e2;
$white: #fff;
$gray: #FAFBFC;
$textblue: #303030;
$textgray: #7C8595;

//Fonts

// Logo descriptor
$font_logo_descr_mobile: 22px;
$font_logo_descr_tablet: 24px;

// Banners title
$font_banners_title_mobile: 22px;
$font_banners_title_tablet: 24px;

// Btn title
$font_btn_title_mobile: 17px;
$font_btn_title_tablet: 19px;


//Radius
$little_radius: 4px;
$medium_radius: 8px;
$big_radius: 12px;
$circle_radius: 50%;

//Offsets
$mobile_offset: 12px;
$desktop_offset: 24px;

//Shadows
$default_shadow: 0 -8px 20px 2px $color_grey2;

//Other
$max_container: 1400px;
