* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    height: 3px;
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: $color_accent;
  }
  scrollbar-width: thin;
}

body {
  @include transition();
  background: $white;
  font-family: 'Roboto', sans-serif;
  pointer-events: none;
  opacity: 0.5;
  &.disabled-scroll {
    overflow: hidden;
    touch-action: none;
    .nav-shape {
      overflow: hidden;
      touch-action: none;
    }
    .container {
      pointer-events: none;
    }
  }
}

a {
  text-decoration: none;
}

.app-load {
  pointer-events: auto;
  opacity: 1;
}

.container-fluid {
  padding: 0 $mobile_offset;
}

/////ASK///////////////////////////////////////////////
.ask {
  text-align: center;
  background: $mars;
  overflow: hidden;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.07);
  .row-ask {
    min-height: 160px;
    align-items: center;
    @media (max-width: 991px) {
      margin: 25px auto;
    }
    @media (max-width: 680px) {
      margin: 0;
    }
  }
  &__img {
    background-repeat: no-repeat;
    -o-object-fit: cover;
    object-fit: cover;
    background-position: center;
    position: absolute;
    transform: rotate(-45deg);
    height: 130px;

    &--left {
      left: -100px;
      top: -48px;
      @media (max-width: 991px) {
        left: -80px;
        top: -10px;
      }
      @media (max-width: 680px) {
        left: -100px;
        top: -15px;
      }
    }
    &--right {
      height: 140px;
      right: -100px;
      top: -55px;
      @media (max-width: 991px) {
        right: -90px;
        top: -85px;
      }
    }
  }
  &-description {
    &__title {
      color: $white;
      font-size: 30px;
      @media (max-width: 680px) {
        font-size: 25px;
      }
      @media (max-width: 500px) {
        font-size: 23px;
      }
    }
  }
  &-cta {
    display: flex;
    @media (max-width: 991px) {
      justify-content: center;
    }
    .btn {
      padding: 8px 43px;
      border-radius: 10px;
      color: $mars;
      background-color: $white;
      font-size: 21px;
      font-weight: bold;
      box-shadow: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      transition: 0.3s;
      @media (max-width: 680px) {
        padding: 8px 30px;
        font-size: 18px;
      }
      @media (max-width: 500px) {
        padding: 5px 28px;
        font-size: 16px;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
.row-about {
  justify-content: center;
}
.about {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding-bottom: 30px;
  h2 {
    text-align: center;
    color: $textblue;
    padding: 65px 0 40px;
    position: relative;
    @media (max-width: 680px) {
      font-size: 25px;
      padding: 25px 0 20px;
    }
    @media (max-width: 390px) {
      font-size: 22px;
    }
  }
  h2::after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 95px;
    height: 3px;
    background-color: $mars;
    @media (max-width: 680px) {
      bottom: 13px;
    }
  }
  &-picture {
    margin-bottom: 20px;
    &__img {
      width: 100%;
      background-size: cover;
      padding-top: 7px;
    }
  }
  &-description {
    &__text {
      color: $textgray;
      font-size: 18px;
      padding-left: 10px;
      @media (max-width: 920px) {
        font-size: 16px;
      }
      @media (max-width: 500px) {
        font-size: 14px;
      }
    }
    &__dot {
      visibility: hidden;
      position: relative;
    }
    &__dot::before {
      content: '';
      position: absolute;
      visibility: visible;
      left: -15px;
      top: 6px;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: $mars;
    }
  }
}

@include breakpoint($tablet) {
  .container-fluid {
    max-width: $max_container;
    padding: 0 $desktop_offset;
  }
}

@include breakpoint($desktop) {
  html {
    &::-webkit-scrollbar {
      width: 6px;
    }
  }
}
