* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    height: 3px;
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: $color_accent;
  }
  scrollbar-width: thin;
}

body {
  @include transition();
  background: $color_white;
  font-family: 'Roboto', sans-serif;
  pointer-events: none;
  opacity: 0.5;
  &.disabled-scroll {
    overflow: hidden;
    touch-action: none;
    .nav-shape {
      overflow: hidden;
      touch-action: none;
    }
    .container {
      pointer-events: none;
    }
  }
}

a {
  text-decoration: none;
}

.app-load {
  pointer-events: auto;
  opacity: 1;
}

.container-fluid {
  padding: 0 $mobile_offset;
  margin: 0 auto;
}

@include breakpoint($tablet) {
  .container-fluid {
    max-width: $max_container;
    padding: 0 $desktop_offset;
  }
}

@include breakpoint($desktop) {
  html {
    &::-webkit-scrollbar {
      width: 6px;
    }
  }
}
